<form method="post" action="{{ path('livraison_delete', {'idliv': livraison.idliv}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livraison.idliv) }}">
    <button class="btn">Delete</button>
</form>
