{% extends 'base-front.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1> Nos Services </h1>
        </div>
        <div class="row">
{% for c in service %}
    <div class="col-md-4">
    {% include 'service_esthethiques/affichecard.html.twig' %}
    </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}





