{% extends 'base-back.html.twig' %}

{% block body %}

<h1>Hello to Your boutique </h1>
<div class="beinvenue_div">
    <img src="{{ asset('back-office/assets/images/R.jpg')}}"  alt="Bienvenue picture"
    style="width: 900px; height: 600px">
</div>
{% endblock %}