{% extends 'base-front.html.twig' %}

{% block body %}
    <section class="page-title page-title-layout5 bg-overlay" >

    <div class="beinvenue_div" >
        <img src="{{ asset('back-office/assets/images/2.png')}} "  alt="background"

             style="width: 1500px;height: 800px;"></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="pagetitle__heading">Define your own Beauty </h1>

            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </section>
{% endblock %}